@charset "UTF-8";

*{ /*style에서는 단위생략 불가*/
	box-sizing: border-box; /*자동으로 border값까지 영역으로 잡아주는 아주 유용한 속성*/
	margin : 0px; /*바깥쪽 여백*/
	padding: 0px;/*안쪽 여백*/
}

header{
	height : 80px;
	line-height: 80px;
	text-align: center;
	background-color: #c44aba;
	color : #ffffff; /*글자색 지정 : 흰색*/
}


nav{
	height : 30px;
	line-height: 30px;
	background-color: #71246b;
}

nav a{
	text-decoration: none; /*밑줄 없애기*/
	color : white; /*글자색 지정 : 흰색*/
	margin-left: 30px;
}

section{
	height : 500px;
	background-color: #f4ddf2;
	padding: 30px; /*안쪽 여백을 주어야 함*/
}

section div{
	text-align: center;
	margin : 15px;
}

section ol{
	margin-left: 30px;
}

ol li{
	height : 30px;
}

td a{
	text-decoration: none;
	color: navy;
}
footer{
	height : 40px;
	line-height: 40px;
	text-align: center;
	background-color: #c44aba;
	color : #ffffff; /*글자색 지정 : 흰색*/
}
